* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/*estilos para el encabezado__________________________*/
header {
  background-color: #993366;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100px;
  max-height: max-content;
  align-items: center;
  justify-content: center;
  /*Estilos del nav_________________________________*/ }
  header .logo {
    margin-top: 15px;
    width: 50vw;
    max-width: 360px; }
  header nav {
    width: 100vw;
    display: flex;
    justify-content: flex-end; }
    header nav ul {
      list-style-type: none;
      margin-right: 15px;
      margin-top: -20px;
      padding-left: 0px;
      margin-bottom: 0px; }
      header nav ul li {
        position: relative; }
        header nav ul li .imgMenu {
          width: 40px; }
        header nav ul li ul {
          list-style-type: none;
          position: absolute;
          right: -20px;
          top: 50px;
          background-color: #993366;
          border-bottom-left-radius: 20px;
          display: none;
          margin-bottom: 0px; }
          header nav ul li ul li {
            padding: 20px;
            text-align: center; }
            header nav ul li ul li .navMenu {
              color: #ffffff;
              text-decoration: none;
              font-weight: 300;
              font-size: 1rem; }
            header nav ul li ul li .navMenu:hover {
              color: #993366;
              font-weight: 500; }
      header nav ul li:hover > ul {
        display: block;
        z-index: 2; }

/*estilos de mainInicio para el grid version para movil*/
.mainInicio {
  display: grid;
  grid-template-areas: "banner" "titulo" "article" "aside";
  column-gap: 2.5rem;
  /*estilos para el banner____________________________*/
  /*Estilos para el titulo_________________________________*/ }
  .mainInicio .banner {
    grid-area: banner;
    display: none;
    margin-top: 4px;
    color: #FFEDE5;
    position: relative;
    width: 100%; }
    .mainInicio .banner .slogan {
      font-size: 8vw;
      font-family: 'Great Vibes', cursive;
      z-index: 1;
      position: absolute;
      text-align: center;
      top: 35%;
      width: 100%;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }
  .mainInicio .titulo {
    grid-area: titulo; }
    .mainInicio .titulo h1 {
      color: #993366;
      text-align: center;
      margin: 20px;
      font-weight: 600;
      font-size: 1.7rem; }
  .mainInicio .article {
    grid-area: article; }
    .mainInicio .article h2 {
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      margin: 20px; }
    .mainInicio .article .container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
      .mainInicio .article .container img {
        width: 90vw;
        max-width: 400px;
        border-radius: 20px;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3); }
    .mainInicio .article .descripcion {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      align-items: center; }
      .mainInicio .article .descripcion h3 {
        color: #993366;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px; }
      .mainInicio .article .descripcion p {
        font-size: 1.1rem;
        padding: 0px 20px;
        margin-bottom: 20px;
        text-align: justify;
        max-width: 400px; }
      .mainInicio .article .descripcion a {
        font-size: 1.4rem;
        padding: 10px;
        margin: 0 10px;
        background-image: linear-gradient(to top, #993366, #DB6A8F);
        color: #ffffff;
        display: inline-block;
        border-radius: 10px;
        text-decoration: none;
        max-width: max-content;
        align-self: center;
        text-align: center; }
      .mainInicio .article .descripcion a:hover {
        font-weight: 500;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.1); }
  .mainInicio .aside {
    grid-area: aside; }
    .mainInicio .aside h3 {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 20px; }
    .mainInicio .aside .video {
      display: flex;
      justify-content: center; }
      .mainInicio .aside .video iframe {
        width: 90vw;
        height: 60vw;
        max-width: 400px;
        max-height: 300px;
        margin-bottom: 20px; }

/*Estilos para el footer________________________________________________*/
.footer {
  font-size: 1rem;
  background-color: #993366;
  text-align: center;
  padding: 20px 15px;
  color: #ffffff;
  position: relative;
  bottom: 0%; }
  .footer p {
    margin-bottom: 0px; }

/*media query  720px______________________________________________________________________________720px*/
@media screen and (min-width: 720px) {
  header {
    /*Estilos del nav_________________________________*/ }
    header nav {
      justify-content: center;
      margin-top: 10px; }
      header nav ul {
        margin: 0%;
        width: 100%; }
        header nav ul li {
          position: relative; }
          header nav ul li .imgMenu {
            display: none; }
          header nav ul li ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            position: static; }
            header nav ul li ul li {
              padding: 20px;
              text-align: center; }
              header nav ul li ul li .navMenu {
                font-size: 1.2rem; }
        header nav ul li:hover > ul {
          list-style-type: none;
          display: flex;
          justify-content: space-evenly;
          position: static; }
  .mainInicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "banner banner" "titulo titulo" "article aside";
    column-gap: 1.5rem;
    /*Banner 720px*/
    /*Aside 720px*/ }
    .mainInicio .banner {
      display: block; }
    .mainInicio .titulo h1 {
      font-size: 2rem; }
    .mainInicio .article {
      /*section 720px*/ }
      .mainInicio .article section {
        background-color: #FFEDE5;
        border-radius: 40px;
        padding: 15px;
        margin: 20px 0px 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start; }
        .mainInicio .article section .container {
          display: flex;
          margin-bottom: 20px; }
          .mainInicio .article section .container img {
            max-width: 200px; }
        .mainInicio .article section .descripcion {
          display: flex;
          flex-direction: column;
          margin: 0%; }
          .mainInicio .article section .descripcion p {
            min-width: 30vw;
            max-width: 60vw;
            font-size: 1.2rem;
            padding: 0%;
            margin-bottom: 20px;
            text-align: justify; }
          .mainInicio .article section .descripcion a {
            font-size: 1.2rem;
            align-self: center;
            margin: 0%; }
    .mainInicio .aside h3 {
      margin: 20px 20px 20px 0; }
    .mainInicio .aside .video {
      height: auto;
      width: auto;
      margin-right: 20px;
      margin-top: 0%; }
    .mainInicio .aside iframe {
      max-width: 45vw;
      max-height: 35vw; }
  /*Footer*/
  .footer br {
    display: none; } }

/*media query 1280_________________________________________________________________1280px*/
@media screen and (min-width: 1280px) {
  /*Header 1280*/
  header {
    flex-direction: row;
    justify-content: space-between;
    /*nav 1280px*/ }
    header .logo {
      margin: 0 60px;
      padding: 30px; }
    header nav {
      width: fit-content;
      justify-content: center;
      margin-right: 60px; }
      header nav ul li ul li {
        padding: 30px; }
  .mainInicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "banner banner banner" "titulo titulo titulo " "article article aside";
    column-gap: 1.5rem;
    /*Banner 1280px*/
    /*section 1280px*/
    /*Aside 1280px*/ }
    .mainInicio .banner .slogan {
      font-size: 7vw; }
    .mainInicio .titulo h1 {
      font-size: 3rem; }
    .mainInicio .article {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px; }
      .mainInicio .article h2 {
        font-size: 2.5rem; }
      .mainInicio .article section {
        margin: 0px 0px 0px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: auto;
        position: relative; }
        .mainInicio .article section .container {
          display: flex;
          width: max-content;
          justify-content: center;
          margin-bottom: 20px; }
          .mainInicio .article section .container img {
            max-width: 25vw;
            margin-right: 20px; }
        .mainInicio .article section .descripcion {
          width: 500px;
          flex: 20%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          margin: 0%; }
          .mainInicio .article section .descripcion h3 {
            font-size: 2rem; }
          .mainInicio .article section .descripcion p {
            font-size: 1.4rem;
            max-width: 400px;
            padding: 0%;
            margin-bottom: 20px;
            text-align: justify; }
          .mainInicio .article section .descripcion a {
            font-size: 1.2rem;
            align-self: center;
            margin: 0%;
            align-self: flex-end; }
    .mainInicio .aside h3 {
      margin: 20px 20px 20px 0;
      font-size: 2rem; }
    .mainInicio .aside .video {
      height: auto;
      width: auto;
      margin-right: 20px;
      margin-top: 0%; }
    .mainInicio .aside iframe {
      max-width: 30vw;
      max-height: 20vw; } }
