//VARIABLES
//colores:
$color-principal: #993366;
$color-secundario: #DB6A8F;
$color-terciario: #FFEDE5;
$color-blanco: #ffffff;
//gradientes:
$color-degradado: linear-gradient(to top, #993366, #DB6A8F);
//sombras:
$sombra-peque: 4px 4px 10px rgba(0, 0, 0, 0.3);
$sombra-grande: 6px 6px 10px rgba(0, 0, 0, 0.3);
$sombra-texto: 5px 5px 5px rgba(0, 0, 0, 0.5);
//borde:
$borde: solid 2px rgba(0, 0, 0, 0.1);